---
import Layout from '../../layouts/Layout.astro';
import { Input } from '../../components/shared/Input';
import { Button } from '../../components/shared/Button';
import styles from '../../styles/auth/reset-password.module.scss';
import { MdOutlineEmail } from 'react-icons/md';
import clsx from 'clsx';
---


<Layout>
  <div class={styles.forgotPasswordContainer}>
    <div class={styles.forgotPasswordInput}>
      <label for="email">Please enter your email which is connected to your account:</label>
      <div class={styles.inputWrapper}>
        <Input autoComplete="email" size="md" Icon={MdOutlineEmail} variant="rounded"
               id="email" />
        <Button id="send-recovery-link">Send recovery link</Button>
      </div>
      <p id="error" class={clsx(styles.message, styles.error)}></p>
      <p id="success" class={clsx(styles.message, styles.success)}></p>
    </div>
  </div>
</Layout>


<script>
  import { AuthService } from '../../service/auth';
  import { AxiosError } from 'axios';

  const input: HTMLInputElement = document.querySelector('#email');
  const sendButton: HTMLButtonElement = document.querySelector('#send-recovery-link');
  const error = document.getElementById('error');
  const success = document.getElementById('success');

  let loading = false;

  sendButton.addEventListener('click', async () => {
    if (/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(input.value)) {
      error.textContent = '';
      success.textContent = '';
      loading = true;
      sendButton.disabled = true;
      sendButton.innerHTML = 'Loading...';

      const sendLink = async () => {
        try {
          const response = await AuthService.forgotPassword({ email: input.value });
          success.textContent = response.message;
          success.style.opacity = '1';
        } catch (e) {
          console.error(e);
          if (e instanceof AxiosError) {
            error.textContent = e.response.data.message;
            error.style.opacity = '1';
          }
        } finally {
          loading = false;
          sendButton.disabled = false;
          sendButton.innerHTML = 'Send recovery link';
        }
      };

      sendLink();

    } else {
      error.textContent = 'Please enter a valid email';
      error.style.opacity = '1';
    }
  });
</script>
