@import "global.module";

.footerContainer {
  width: 100%;
  background: $grey;
  color: $lite-text;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 20px;
}

.contacts {
  flex: 1;
  min-width: 200px;
}

.creatorLink {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  a {
    margin-top: 10px;
    color: $brand-primary-pink;
    text-decoration: underline;
    font-weight: 600;
    transition: 100ms;

    &:hover {
      scale: 1.02;
    }
  }
}

@media screen and (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .creatorLink {
    align-items: center;
  }
}
