@import "global.module";

.default {
  width: 100%;
  padding: 15px 10px 15px 10px;
  border: 1px solid $lite;
  background: $grey;
  color: #d5dcdc;
}


.mdSize {
  font-size: 22px;
  height: 24px;
}

.largeSize {
  height: 40px;
  font-size: 30px;
}

.smallSize {
  font-size: 16px;
  height: 20px;
}


.rounded {
  border-radius: 20px;
}

.iconInput {
  display: flex;

  input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  span {
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    color: grey;
    border: 1px solid $lite;

  }

  .roundedIcon {
    border-radius: 20px 0 0 20px;
  }
}

