---
import Typing from '../shared/Typing.astro';
import styles from '@styles/header.module.scss';
import { Button as SharedButton } from '../shared/Button';
import { MdExitToApp } from "react-icons/md";

---

<nav class={styles.header}>
  <a href="/">
    <Typing class={`${styles.blur} ${styles.logo}`} style={{ 'cursor': 'pointer' }} variant="gradient" size="lg" tag="h1">
      LINKLY
    </Typing>
  </a>
  <div class={styles.navigationButtons}>
    <a href="/auth/login">
      <SharedButton variant="secondary" size="lg">
        <p>Login</p>
        <MdExitToApp  size={24} />
      </SharedButton>
    </a>
    <a href="/auth/register">
      <SharedButton size="lg">
        Register Now
      </SharedButton>
    </a>
  </div>
</nav>

