---
import styles from '../../styles/footer.module.scss';
---


<footer class={styles.footerContainer}>
  <div class={styles.contacts}>
    <h3>
      Contacts:
    </h3>
    <p>Email: illiadolbnia@gmail.com</p>
  </div>
  <div class={styles.creatorLink}>
    <p>Copyright © 2024. All rights reserved.</p>
    <a href="https://github.com/Gmust" target="_blank">
      Developed by Illia Dolbnia
    </a>
  </div>
</footer>

