---
import styles from '../styles/global.module.scss';
import Header from '../components/header/Header.astro';
import { Footer } from '../components/footer/Footer';
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
</head>
<body class={styles}>
<Header />
<slot />
<Footer client:only="react"/>
</body>
</html>

