@import "../global.module";


.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.registerForm {
  background: $grey;
  color: $lite;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  h1 {
    font-weight: 600;
  }

}

.inputsContainer {
  display: flex;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;

  label {
    font-size: 20px;
    font-weight: 600 !important;
  }

}

.fullNameContainer {
  display: flex;
  justify-content: space-between;
}


.errorMessage {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: red;
  transition: 0.3s ease-in-out;

  @media screen and (width > 1024px) {
    max-width: 680px;
  }

  @media screen and (width > 768px) {
    max-width: 540px;
  }

  @media screen and (width > 480px) {
    max-width: 400px;
  }

}


.submitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;

  a {
    color: white;
  }

  button {
    margin-top: 12px;
    width: 100%;
  }

}
