@import "../global.module";


.forgotPasswordContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}


.forgotPasswordInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  color: $lite;
  background: $grey;
  padding: 20px;
  border-radius: 20px;

  label {
    font-size: 20px;
    font-weight: 500;
  }


  .inputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin-left: 10px;
    }
  }


  .message {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;


    &.visible {
      opacity: 1;
    }
  }

}

.error {
  color: red;
}

.success {
  color: green;
}
